/*記事6*/
/* ~ 店舗情報 ~ */
#location {
  margin-bottom: 8rem;
}

#location .container {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#location .content {
  display: flex;
  padding-left: 0;
  list-style: none;
}

#location .box {
  width: 50%;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-around;
}

#location .google_map {
  width: 100%;
}

#location .information {
  border-collapse: collapse;
  border-spacing: 0;
 }
th {
  padding: 1.5rem 0.5rem;
  border: solid 1px #778ca3;
  text-align: left;
}

#location .img_box {
  display: flex;
  list-style: none;
  padding-top: 2rem;
}

#location .img_box li {
  width: 33%;
}

/*サイトの横幅が780px以下*/
@media screen and (max-width: 780px) {
  #location .box {
    font-size: 1.2rem;
  }
}

/*サイトの横幅が600px以下*/
@media screen and (max-width: 600px) {
  #location .content {
    display: block;
  }
  #location .section_title {
    margin-bottom: 1rem;
  }
  #location .box {
    width: 100%;
  }
}

/*サイトの横幅が450px以下*/
@media screen and (max-width: 450px) {

}

/*サイトの横幅が380px以下*/
@media screen and (max-width: 380px) {

}

/*サイトの横幅が330px以下*/
@media screen and (max-width: 330px) {

}
